@{
    ViewData["Title"] = "Schedule";
}

<section class="schedule-page-wrapper">
    <div class="schedule-page-card">
        <h2>Full Schedule</h2>

        <div class="schedule-row">
            <span>Monday - class1</span>
            <span>8:00 AM</span>
        </div>

        <div class="schedule-row">
            <span>Monday - class2</span>
            <span>11:00 AM</span>
        </div>

        <div class="schedule-row">
            <span>Tuesday - class3</span>
            <span>9:00 AM</span>
        </div>

        <div class="schedule-row">
            <span>Thursday - class4</span>
            <span>6:00 PM</span>
        </div>
    </div>
    

</section>