@{
    Layout = null;
}

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>DELTA GYMS-Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@400;600;700;900&display=swap" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/members/login.css"/>
</head>
<body>

<section id="login" class="min-vh-100 d-flex align-items-center justify-content-center">
      <div class="container-user">
        <h2>Welcome Back</h2>
        <input type="text" id="username" placeholder="Username" class="form-control" /> <!-- Username input field -->
        <p id="ValidationUsername" class="error"></p> <!-- Username validation message -->
        
        <input type="password" id="password" placeholder="Password" class="form-control" /> <!-- Password input field -->
        <p id="ValidationPassword" class="error"></p> <!-- Password validation message -->

        <div id="greeting-message"></div> 

        <button class="login-btn" onclick="window.location.href='index.html'">Login</button> <!-- Login button -->
        
        <div class="mt-4">
            <p class="text-muted">
                Don't have an account? <a href="#" onclick="showRegisterPage()">Register</a> <!-- Link to registration page and I used # as it is single page-->
            </p>
        </div>
      </div>
    </section>

    <!-- Register Section -->
    <section id="register" class="min-vh-100 d-flex align-items-center justify-content-center" style="display: none"> <!-- Hidden by default using display: none , as I want my logging page first-->
      <div class="container-user">
        <h2>Create Account</h2>
        <input type="text" id="username" placeholder="Username" class="form-control" />
        <p id="ValidationUsername" class="error"></p> <!-- Username validation message -->

        <input type="email" id="email" placeholder="Email" class="form-control" />
        <p id="ValidationEmail" class="error"></p> <!-- Email validation message -->

        <input type="password" id="password" placeholder="Password" class="form-control" />
        <p id="ValidationPassword" class="error"></p> <!-- Password validation message -->

        <input type="password" id="confirm-password" placeholder="Confirm Password" class="form-control" />
        <p id="ValidationConfirmPassword" class="error"></p> <!-- Confirm Password validation message -->

        <input type="number" id="age" placeholder="Age" class="form-control" />
        <p id="ValidationAge" class="error"></p> <!-- Age validation message -->
 
        <div id="greeting-message"></div>

        <button class="registrer-btn" onclick="Registeruser()">Sign Up</button> <!-- Register button -->
        
        <div class="mt-4">
            <p class="text-muted">
                Already have an account? <a href="#" onclick="showLoginPage()">Login</a> <!-- Link to login page with # as it is a single page-->
            </p>
        </div>
      </div>
    </section>


    <script src="js/script.js"></script> <!-- My custom JavaScript file -->
</body>
</html>
