<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/trainer/trainer.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Trainer</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>


